{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Edycja oceny końcowej</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <div class="mb-3">
            {{ form.subject_name.label_tag }}<br>
            {{ form.subject_name }}
        </div>
        <div class="mb-3">
            {{ form.ects.label_tag }}<br>
            {{ form.ects }}
        </div>
        <div class="mb-3">
            {{ form.row_color.label_tag }}<br>
            {{ form.row_color }}
        </div>
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>
{% endblock %}
